<h2>Institutions</h2>
<hr/>
<%= link_to new_institution_path, :class => "btn btn-primary" do %>
  <i class="fa fa-plus"></i>
  Create new institution
<% end %>

<table class="table table-responsive">
  <thead>
    <th>Name</th>
    <th>Phone</th>
    <th>State</th>
    <th>Country</th>
    <th>Company Type</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= institution.phone %></td>
        <td><%= institution.state %></td>
        <td><%= institution.country %></td>
        <td><%= institution.company_type %></td>
        <td>
          <%= link_to "<i class='fa fa-eye'></i>".html_safe, institution_path(institution) %>
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_institution_path(institution) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
