<h2>User Profile</h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-11">
        <h3>Update Profile</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <p><%= f.email_field :email, autofocus: true, class: "form-control" %></p>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <p><%= f.password_field :password, autocomplete: "off", class: "form-control" %></p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <p><%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></p>
          </div>

          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <p><%= f.password_field :current_password, autocomplete: "off", class: "form-control" %></p>
          </div>

          <div class="actions">
            <%= f.submit "Update", :class => "btn btn-primary" %>
            <%= link_to "Back", :back %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3>Account Cancellation</h3>

    <center>
      <i class="fa fa-frown-o" style="font-size: 200px;"></i>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
    </center>
  </div>
</div>
