<h2>Send Invitations</h2>
<hr>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <%= label_tag :user_emails, "Emails of people you'd like to invite." %>
  <p>
    <%= text_area_tag :user_emails, "", :class => "form-control tagsinput" %>
  </p>

  <div class="row">
    <div class="col-sm-6">
      <%= label_tag :institution, "Institution" %>
      <p>
        <%= select_tag :institution, options_from_collection_for_select(Institution.all, "id", "name"), :include_blank => true, :class => "form-control" %>
      </p>
      <p><hint class="hint">By leaving empty to allow users to create their own insitution and be an admin for that institution.</hint></p>

      <%= label_tag :institution_role, "Institution Role" %>
      <p>
        <%= select_tag :institution_role, options_for_select(InstitutionRole.roles.keys.map {|role| [role.titleize,role]}), :class => "form-control" %>
      </p>
    </div>
  </div>

  <p><%= f.submit "Send an Invitations", :class => "btn btn-primary" %></p>
<% end %>
