<h2><%= t 'devise.invitations.edit.header' %></h2>
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <p><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></p>

  <p><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></p>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <% if resource.institution.present? %>
    You are invited to <%= resource.institution.name %>.
  <% else %>
    <%= f.label :institution_name, "Institution Name" %>
    <p>
      <%= text_field_tag :institution_name, nil, class: "form-control", placeholder: "Institution Name" %>
    </p>
  <% end %>

  <p><%= f.submit t("devise.invitations.edit.submit_button"), :class => "btn btn-primary" %></p>
<% end %>
